{% extends 'base.html' %}
{% block content %}
<div class="home">
    <h1>Hockey Guru Home</h1>
    <h2>Welcome! Here you can find all sorts of hockey information and opinions!</h2>
    <p>Smack talk is not only allowed but encouraged!</p>
</div>
<div class="home__favPlayers">
    {% for favplayer in favplayers %}
  
        <div class="favPlayer mb-5">
          <h3 class="title is-3 has-text-success">{{favplayer.title}}</h3>
          <hr />
  
          {% for player in favplayer.players.all %}
  
              <div class="player">
                <span>{{forloop.counter}}</span>
                <span><b>{{player.player_name}}</b></span>
                <span>
                    <a
                    href="{% url 'favplayer_player_assoc' favplayer.pk player.pk %}?assoc=remove"
                    class="button is-danger is-outlined"
                  >
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a> 
                </span>
              </div>
  
          {% endfor %}
        </div>
  
    {% endfor %}
  </div>
{% load static %}
<img src="{% static 'images/maxresdefault.jpg' %}" alt="Marchand crying lol">
    
    
{% endblock %}