{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{team.img}}" alt="{{team.name}}" />
</div>
<div class="detail__name">
  <div class="icon-text">
    <span class="icon has-text-info">  
    </span>  
  </div>
  <h1 class="title">{{team.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'team_update' team.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'team_delete' team.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{team.bio}}</p>
  </div>
</div>

{% endblock %}